.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: white;

    .background{
        position: absolute;
        filter: brightness(0.4);
        z-index: -1;
    }

    .logo{
        height: 100%;
        width: 15%;
        background-color: rgba(34, 32, 57, 0.404);
        display: flex;
        justify-content: center;
        padding-top: 10px;

        p{
            font-family: "Poppins", sans-serif;
            font-size: 1.3em;
            margin-right: 5px;
        }
    }

}